<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @author      Scandiweb <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cronhealth" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Cron health checks</label>
            <tab>scandiweb</tab>
            <resource>Scandiweb_Cronhealth::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ping_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Ping address</label>
                    <comment><![CDATA[You can get one at <a href="https://healthchecks.io/" target="_blank">https://healthchecks.io/</a>]]></comment>
                </field>
            </group>
         </section>
    </system>
</config>
